.DS_Store

# SwiftPM
.build/
.swiftpm/

# Xcode
DerivedData/
*.xcuserdata/
*.xcworkspace/xcuserdata/

# Android / Gradle
.gradle/
build/
local.properties
captures/
*.apk
*.aab

# Distribution / Build output
dist/

# IDE
.idea/


